/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Paleta de cores */
  --bg-color: #FFFFFF;
  --alternative-bg-color: #e2e2e2;
  --primary: #00BCD4;
  --dark-primary: #0097a7;
  /*--dark-primary: #0c3f6e;*/
  --light-primary: #B2EBF2;
  --accent: #FF9800;
  --dark-accent: hsl(24, 100%, 41%);
  --text-primary: #0B1215;
  --text-secondary: #4A616B;
  --shadow-color: rgba(0, 0, 0, 0.75);

  /* Tamanhos para as margens de baixo */
  --m-bottom-xs: 0.25rem;
  --m-bottom-s: 0.5rem;
  --m-bottom-m: 1.25rem;
  --m-bottom-l: 2rem;
  --m-bottom-xl: 5rem;
  --m-bottom-xxl: 7.5rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  /*padding: 0 2rem;*/
}

h1, h2 { font-weight: 700; }

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-action-button {
  border-radius: 16px;
  color: var(--bg-color);
  padding: 1rem 0.59375rem;
  font-weight: bold;
  border: none;
  background-color: var(--primary);
  font-size: 1rem;
  white-space: nowrap;
}

.main-action-button:hover {
  cursor: pointer;
  background-color: var(--dark-primary);
  transition: .2s;
}

.main-action-button.bg-white {
  background-color: var(--bg-color);
  color: var(--text-primary);
  box-shadow: 0 2px 4px var(--shadow-color);
}

.main-action-button.bg-white:hover {
  background-color: var(--primary);
}


.main-action-button.bg-accent {
  background-color: var(--accent);
  padding: 0.59375rem;
}

.main-action-button.bg-accent:hover {
  background-color: var(--dark-accent);
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  .container {
    padding: 0;
  }

  header {
    height: 40vh;
    text-align: center;
    padding: 0;
  }

  header h1 {
    margin-bottom: var(--m-bottom-l);
  }

  .main-action-button {
    font-size: 0.8125rem;
  }
}