/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Paleta de cores */
  --bg-color: #FFFFFF;
  --primary: #00BCD4;
  --dark-primary: #0097a7;
  --light-primary: #B2EBF2;
  --accent: #FF9800;
  --dark-accent: hsl(24, 100%, 41%);
  --text-primary: #0B1215;
  --text-secondary: #4A616B;

  /* Tamanhos para as margens de baixo */
  --m-bottom-xs: 0.25rem;
  --m-bottom-s: 0.5rem;
  --m-bottom-m: 1.25rem;
  --m-bottom-l: 2rem;
  --m-bottom-xl: 5rem;
  --m-bottom-xxl: 7.5rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
}

h1, h2 { font-weight: 700; }

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

.main-action-button {
  border-radius: 16px;
  color: var(--bg-color);
  padding: 0.59375rem;
  font-weight: bold;
  border: none;
  background-color: var(--primary);
}

.main-action-button:hover {
  cursor: pointer;
  background-color: var(--dark-primary);
  transition: .2s;
}